<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <header>
      <% include ../partials/header %>
    </header>

    <main>
      <div class="container">

        <article role="status">
          <h3 class="text-center">Successfully Registered to be an Admin</h3>
          <h3 class="text-center">You will be contacted once your account has been verified</h3>

        </article>
      </div>
    </main>

    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
