<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head %>
</head>
<body>
  <header>
    <% include ../partials/header %>
  </header>
  <div class="container">
    <article role="interact">
      <h3 class="text-center">Admin Registration</h3>
      <form class="register" data-toggle="validator" action="/admin/register" method="post">
        <div class="form-group">
          <input type="email" class="form-control" name="email" id="email" placeholder="Email" data-error="Invalid email address" required>
          <div class="help-block with-errors"></div>
        </div>
        <div class="form-group">
          <div class="form-group">
            <input type="password" name="password" data-minlength="9" class="form-control" id="password" placeholder="Password" required>
            <span class="help-block with-errors"></span>
          </div>
          <div class="form-group">
            <input type="password" class="form-control" id="passwordConfirm" data-match="#password" data-match-error="Passwords do not match" placeholder="Confirm Password" required>
            <div class="help-block with-errors"></div>
          </div>
        </div>
        <div class="form-group">
          <input type="submit" class="btn btn-success btn-block"  value="SUBMIT">
        </div>
      </form>
    </article>
  </div>
  <footer>
    <% include ../partials/footer %>
  </footer>

</body>
</html>
