<!DOCTYPE html>
<html>
  <head>
    <% include ../../partials/head %>
  </head>
  <body>
    <header>
      <% include ../../partials/header %>
    </header>
    <main>
      <div class="container">
        <article role="status">
          <h3 class="text-center">Admin - Attendee List</h3>

        </article>
      </div>
    </main>
    <footer>
      <% include ../../partials/footer %>
    </footer>
  </body>
</html>
