<!DOCTYPE html>
<html>
  <head>
    <% include ../../partials/head %>
  </head>
  <body>
    <header>
      <% include ../../partials/header %>
    </header>

    <main>
      <div class="container">

        <article role="status">
          <h3 class="text-center">Admin Home</h3>
          <div class= "container">
            <input type="submit" class="btn btn-success btn-block"  value="SUBMIT">
          </div>
        </article>
      </div>
    </main>

    <footer>
      <% include ../../partials/footer %>
    </footer>
  </body>
</html>
